<?php
// NIJC
                                                                                        if($cnt['共有']['申請中']) { echo '<span class="label label-default label-warning">'; el('_applied'); echo '</span>'; } 
                                                                                        if($cnt['共有']['承認済']) { echo '<span class="label label-default label-info">'; el('_approved'); echo '</span>'; }
                                                                                        if($cnt['共有']['棄却']) { echo '<span class="label label-default label-danger">'; el('_rejected'); echo '</span>'; }
?>

