<h1 class="page-header">研究プラットフォームユーザガイド</h1>
  <ol>
    <li><a href="docs/ja/bminds_db_overview.pdf" target="_blank">革新脳データベース概要&nbsp;<i class="fa fa-file-pdf-o"></i></a></li>
    <li>研究ポータル利用ガイド
      <ol>
        <li>事前準備(HPC/SCPご利用の方向け)
          <ol>
            <li><a href="docs/ja/public_key_creation.pdf" target="_blank">公開鍵の作成&nbsp;<i class="fa fa-file-pdf-o"></i></a></li>
            <li><a href="docs/ja/winscp_settings.pdf" target="_blank">ファイル転送ツールの設定&nbsp;<i class="fa fa-file-pdf-o"></i></a></li>
          </ol>
        </li>
	<li><a href="docs/ja/bminds_portal_pages.pdf" target="_blank">研究ポータル画面説明&nbsp;<i class="fa fa-file-pdf-o"></i></a></li>
	<li><a href="docs/ja/bminds_portal_workflow.pdf" target="_blank">利用の流れ&nbsp;<i class="fa fa-file-pdf-o"></i></a></li>
      </ol>
      <li>登録アイテムについて
        <ol>
          <li>概要</li>
          <li>データタイプ</li>
            <ol>
	      <li><a href="docs/ja/bminds_metadata_spare_20160713.pdf" target="_blank">Spare&nbsp;<i class="fa fa-file-pdf-o"></i></a></li>
            </ol>
          </li>
        </ol>
      </li>
    </li>
    <li>研究プラットフォーム内共有リソース
      <ol>
        <li><a href="docs/ja/bminds_HPC_userguide.pdf" target="_blank">HPC利用ガイド&nbsp;<i class="fa fa-file-pdf-o"></i></a></li>
        <li>Pipeline処理フレームワーク利用ガイド(pdf)</li>
          <ol>
            <li>
	      <a href="docs/ja/bminds_pipeline_movie_1.mp4" target="_blank">デモ動画&nbsp;<i class="fa fa-file-movie-o"></i></a>
	    </li>
	  </ol>
	<li>BiCC
	  <ol>
	    <li>
	      <a href="docs/ja/bminds_BiCC.pdf" target="_blank">利用ガイド&nbsp;<i class="fa fa-file-pdf-o"></i></a>
	    </li>
	    <li>
	      <a href="docs/ja/bminds_BiCC_movie.mp4" target="_blank">デモ動画&nbsp;<i class="fa fa-file-movie-o"></i></a>
	    </li>
	  </ol>
	</li>
        <li>Marmoset Reference 3D Brain Atlas
          <ol>
            <li>
	      <a href="/files/Structure List (Marmo list 5.5bTH).pdf" target="_blank">Structure List&nbsp;<i class="fa fa-file-pdf-o"></i></a>
	      <div>Revised from Tsutomu Hashikawa , Reiko Nakatomi, Atsushi Iriki, Neuroscience Research 93, 116-117, 2015.</div>
	    </li>
            <li>
	      <a href="https://www.bminds.brain.riken.jp/ZAViewer/" target="_blank">Marmoset 3D Reference Brain Atlas by Web Viewer</a>
	      <div>3D Brain Atlas Version 1.0: Created by Alexander Woodward et al. 2016</div>
	      <a href="docs/ja/bminds_Marmoset3DBrainAtlasDescription.pdf" target="_blank">Description&nbsp;<i class="fa fa-file-pdf-o"></i></a>
	      <div>ZAViewer developed @ Neuroinformatics Japan Center, RIKEN Brain Science Institute</div>
	    </li>
          </ol>
	</li>
      </ol>
   </li>
  </ol>
