<h1 class="page-header">革新脳データベース利用に関する規定</h1>
<div align="right">データベース協議会発行</div>
<ol>
  <li>利用にあたって
    <ol>
      <li><a href="docs/ja/bminds_db_app_proc.pdf" target="_blank">革新脳データベース利用における手続き&nbsp;<i class="fa fa-file-pdf-o"></i></a></li>
      <li><a href="docs/ja/bminds_db_app_form.xlsx" target="_blank">革新脳データベース利用申請フォーム&nbsp;<i class="fa fa-file-excel-o"></i></a></li>
    </ol>
  </li>
  <li>利用ガイドライン
    <ol>
      <li><a href="docs/ja/bminds_db_guideline.pdf" target="_blank">革新脳データベース利用ガイドライン&nbsp;<i class="fa fa-file-pdf-o"></i></a></li>
    </ol>
  </li>
  <li>セキュリティガイドライン
    <ol>
      <li><a href="docs/ja/bminds_db_security_guideline.pdf" target="_blank">革新脳データベースデータ取り扱いセキュリティガイドライン(利用者向け)&nbsp;<i class="fa fa-file-pdf-o"></i></a></li>
    </ol>
  </li>
</ol>
