@charset "utf-8"

/* ----------------------------------------------------
	 text
 ---------------------------------------------------- */
.ta-c{text-align: center !important;}
.ta-r{text-align: right !important;}
.ta-l{text-align: left !important;}

.bold{font-weight:bold !important;}

.font10{font-size:10px !important;}
.font11{font-size:11px !important;}
.font12{font-size:12px !important;}
.font13{font-size:13px !important;}
.font14{font-size:14px !important;}
.font15{font-size:15px !important;}
.font16{font-size:16px !important;}
.font17{font-size:17px !important;}
.font18{font-size:18px !important;}
.font19{font-size:19px !important;}
.font20{font-size:20px !important;}
.font21{font-size:21px !important;}
.font22{font-size:22px !important;}
.font23{font-size:23px !important;}
.font24{font-size:24px !important;}

.white{color:#fff !important;}
.black{color:#000 !important;}

/* ----------------------------------------------------
	 float
 ---------------------------------------------------- */
.fr {float: right !important;}
.fl {float: left !important;}

.clear {clear: both;}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/* ----------------------------------------------------
	clearfix の代用
	<div class="hr"><hr /></div>
---------------------------------------------------- */

div.hr { clear:both; }
div.hr hr { display:none; }

/* ----------------------------------------------------
	 margin
 ---------------------------------------------------- */

.mt00 { margin-top:  0px !important; }
.mt01 { margin-top:  1px !important; }
.mt02 { margin-top:  2px !important; }
.mt03 { margin-top:  3px !important; }
.mt04 { margin-top:  4px !important; }
.mt05 { margin-top:  5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }

.mr00 { margin-right:  0px !important; }
.mr01 { margin-right:  1px !important; }
.mr02 { margin-right:  2px !important; }
.mr03 { margin-right:  3px !important; }
.mr04 { margin-right:  4px !important; }
.mr05 { margin-right:  5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }

.mb00 { margin-bottom:  0px !important; }
.mb01 { margin-bottom:  1px !important; }
.mb02 { margin-bottom:  2px !important; }
.mb03 { margin-bottom:  3px !important; }
.mb04 { margin-bottom:  4px !important; }
.mb05 { margin-bottom:  5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }

.ml00 { margin-left:  0px !important; }
.ml01 { margin-left:  1px !important; }
.ml02 { margin-left:  2px !important; }
.ml03 { margin-left:  3px !important; }
.ml04 { margin-left:  4px !important; }
.ml05 { margin-left:  5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }

/* ----------------------------------------------------
	 padding
 ---------------------------------------------------- */

.pt00 { padding-top:  0px !important; }
.pt01 { padding-top:  1px !important; }
.pt02 { padding-top:  2px !important; }
.pt03 { padding-top:  3px !important; }
.pt04 { padding-top:  4px !important; }
.pt05 { padding-top:  5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }

.pr00 { padding-right:  0px !important; }
.pr01 { padding-right:  1px !important; }
.pr02 { padding-right:  2px !important; }
.pr03 { padding-right:  3px !important; }
.pr04 { padding-right:  4px !important; }
.pr05 { padding-right:  5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }

.pb00 { padding-bottom:  0px !important; }
.pb01 { padding-bottom:  1px !important; }
.pb02 { padding-bottom:  2px !important; }
.pb03 { padding-bottom:  3px !important; }
.pb04 { padding-bottom:  4px !important; }
.pb05 { padding-bottom:  5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }

.pl00 { padding-left:  0px !important; }
.pl01 { padding-left:  1px !important; }
.pl02 { padding-left:  2px !important; }
.pl03 { padding-left:  3px !important; }
.pt04 { padding-left:  4px !important; }
.pl05 { padding-left:  5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }

/* 全角日本語を指定 */
.ime_active{ime-mode: active;}
/* 半角英数を指定 */
.ime_inactive{ime-mode: inactive;}
/* 半角英数に固定 */
.ime_disabled{ime-mode: disabled;}
