<h1 class="page-header">Research Platform User Guide</h1>
  <ol>
    <li><a href="docs/ja/bminds_db_overview.pdf" target="_blank">Brain MINDS Database Overview</a></li>
    <li>Research Portal User Guide
      <ol>
        <li>Preparation(for HCP/SCP Users)
          <ol>
            <li>Public Key Creation(pdf)</li>
            <li>File Transmission Tool(for SCP) Settings(pdf)</li>
          </ol>
        </li>
        <li>Page Descriptions
          <ol>
            <li>Top(pdf)</li>
            <li>My Item(pdf)</li>
            <li>Applications(pdf)</li>
            <li>Message(pdf)</li>
            <li>User List(pdf)</li>
            <li>How to Use(pdf)</li>
            <li>User Guide</li>
          </ol>
        </li>
        <li>Work Flow
          <ol>
            <li>アイテム（メタデータとデータセット）の登録と共有
              <ol>
                <li>データセットのアップロード(pdf)</li>
                <li>メタデータ編集・登録とデータセットとの関連付け(pdf)</li>
              </ol>
            </li>
            <li>データ（メタデータとデータセット）のキュレーションと共有
              <ol>
                <li>グループ内キュレーション、共有(pdf)</li>
                <li>グループ間共有の申請、承認(pdf)</li>
              </ol>
            </li>
            <li>(掲載について検討要)データの公開準備と公開用ポータルへの送信</li>
          </ol>
        </li>
        <li>Item Registration
          <ol>
            <li>はじめに
              <ol>
                <li>各種データタイプについて
                  <ol>
                    <li>Spare
                      <ol>
                        <li>(目的)</li>
                        <li>メタデータ定義書(pdf, xlsx)</li>
                        <li>ディレクトリ構造定義書(pdf, xlsx)</li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>HPC(High Performance Computing Cloud) User Guide(pdf)</li>
    <li>SPyKGD(Pipeline Processing Framework) User Guide(pdf)</li>
    <li>BiCC(Brain Image Communication Cloud) User Guide(link)</li>
  </ol>
