<h1 class="page-header">Rules on the use of Brain/MINDS database</h1>
<div align="right">Issued by the Database Council</div>
<ol>
  <li>Preface
    <ol>
      <li><a href="docs/ja/bminds_db_app_proc.pdf" target="_blank">Procedure for Using Brain MINDS Database</a></li>
      <li><a href="docs/ja/bminds_db_app_form.xlsx" target="_blank">Application Form for Using Brain MINDS Database</a></li>
    </ol>
  </li>
  <li>Guideline for Users
    <ol>
      <li>革新脳データベース利用ガイドライン(pdf)</li>
    </ol>
  </li>
  <li>Security Guideline
    <ol>
      <li>革新脳データベースデータ取り扱いセキュリティガイドライン(利用者向け)(pdf)</li>
    </ol>
  </li>
</ol>
