								<td><?php eh($mng['title']); ?></td>
								<td>
									<ul class="names">
<?php
	if (is_array($mng['subject'])) {
		foreach ($mng['subject'] as $v) {
			if (!empty($v['subject'])) printf("<li>%s</li>", h($v['subject']));
		}
	} else {
		if (!empty($mng['subject'])) printf("<li>%s</li>", h($mng['subject']));
	}
?>
									</ul>
								</td>
								<td>
									<ul class="names">
<?php
	if (is_array($mng['contact_person'])) {
		foreach ($mng['contact_person'] as $v) {
			// NIJC if (!empty($v['name'])) printf("<li>%s</li>", h($v['name']));
			if (!empty($v['user_name'])) printf("<li>%s</li>", h($v['user_name']));
		}
	} else {
		if (!empty($mng['contact_person'])) printf("<li>%s</li>", h($mng['contact_person']));
	}
?>
									</ul>
								</td>
								<td><?php eh($mng['fixed']); ?></td>
								</td>
