<?php
// NIJC
// Get the most recent status
$item = array();
$item['date'] = '';
if(!empty($appdata)) {
	foreach ($appdata as $data) {
		if($data['date'] > $item['date']) {
			$item['status'] = $data['status'];
			$item['date'] = $data['date'];
		}
	}

	if($item['status'] == 'Processing') { echo '<span class="label label-default label-warning">'; el('_applying'); echo '</span>'; } 
      	if($item['status'] == 'Accepted') { echo '<span class="label label-default label-info">'; el('_approved'); echo '</span>'; } 
       	if($item['status'] == 'Rejected') { echo '<span class="label label-default label-danger">'; el('_rejected'); echo '</span>'; } 
}
/*
                                                                                        if ($item['status'] == 'Processing']) { echo '<span class="label label-default label-warning">'; el('_applying'); echo '</span>'; } 
                                                                                        if($tem['status'] == 'Accepted') { echo '<span class="label label-default label-info">'; el('_approved'); echo '</span>'; }
                                                                                        if($item['status'] == 'Rejected') { echo '<span class="label label-default label-danger">'; el('_rejected'); echo '</span>'; }
*/
?>

