<!-- options data (hide) -->
<div class="hide ta-r">
	<select id="exp_list" name="exp_list">
<?php foreach ($data_exp_list as $k => $v) : ?>
		<option value="<?php eh($k); ?>"><?php el($v); ?></option>
<?php endforeach; ?>
	</select>
</div>
