@charset "UTF-8";
@import "lib.css";
@import "notosansjapanese.css";

* {
	font-family: 'Noto Sans Japanese', sans-serif;
}

/* form table */

a.btn, button,
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-transition: all 200ms ease;
	        transition: all 200ms ease;
}
tr {
	cursor:default;
	-webkit-transition: all 50ms ease;
	        transition: all 50ms ease;
}
tr[data-href] {
	cursor:pointer;
}
tr.click-checked {
	cursor:pointer;
}
*[data-toggle] {
	cursor:pointer;
	-webkit-transition: all 250ms ease;
	        transition: all 250ms ease;
}
*[data-toggle="tab"]:hover,
*[data-toggle="collapse"]:hover{
	opacity:0.8;
}

/* names list */
ul.names {
	min-width:7em;
	padding:0;
	list-style:disc inside;
}

/* SQL log */
table.cake-sql-log {
	margin:3em 1% 1em 18%;
	font-size:87%;
}
table.cake-sql-log thead {
	background:#f5f5f5;
}
table.cake-sql-log caption {
	padding:0.5em;
}
table.cake-sql-log th,
table.cake-sql-log td {
	padding:0.25em 0.5em;
	border:1px solid #ccc;
}

/* Error */
.cake-error,
.cake-debug-output {
	margin:2em 1% 1em 18%;
}

/* Flash Message */
.flash {
	border-width:1px 0;
	border-radius:0;
	text-align:center;
}
#Login .flash {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	margin:0;
}

/* link in table-cell with TablEdit */
td[data-href] {
	color:#337ab7;
	cursor:pointer;
}
td[data-href]:hover {
	color: #23527c;
	text-decoration: underline;
}

/* JSON Editor */
*[class*="foundicon-"] {
	font-family: GeneralFoundicons;
	font-style: normal;
}

/* Message */
#target-box,
#target-box .target-users {
	display:none;
}
#target-box #target-group-all {
	display:block;
}

/* Archive */
ul.monthly {
	display:none;
}
ul.monthly.active {
	display:block;
}
ul.monthly .count {
	margin-left:0.1em;
}

/* message */
.new {
	display:inline-block;
	margin:0 0.33em;
	padding:0 4px;
	border-radius:4px;
	background:#f88;
	color:#fff;
	font-family:Verdana, Helvetica, sans-serif;
}

/* read|reply message */
table i.fa.read,
.list-group i.fa.read {
	display:inline-block;
	color:#3380cc;
	width:1em;
	margin-right:0.33em;
}
table i.fa.fa-reply,
.list-group i.fa.fa-reply {
	color:#f88;
}


/* Home */
/*
#home-messages .list-group a:before {
	display:inline;
	font-family:'FontAwesome';
	content:"\f00c";
	color:#fff;
	margin-right:0.2em;
}
#home-messages .list-group a:visited:before {
	color:#337ab7;
}
*/

/* Dataset */
#schema {
	border:3px solid #e3e3e3;
	background:#fafafa;
}
#json_options {
	display:none;
}

/* count */
.nav-tabs li {
	position:relative;
}
.nav-tabs li .count {
	position:absolute;
	top:-1em;
	right:0;
	padding:1px 0.6em;
	border:1px solid #6699cc;
	border-radius:6px;
	background:#fff;
	color:#337ab7;
	font-size:86%;
	font-family:Verdana, Helvetica, Arial, sans-serif;
}

/* editable table */
table.editable tr.not .tabledit-toolbar {
	display:none;
}
table.editable tr.not input[name="rdo1"] {
	display:none;
}
table.editable th.not {
	display:none;
}table.editable td.not {
	display:none;
}
/* JSON Editor */
#setschema {
	display:none;
}

/* Search */
body.Search main header {
	overflow:hidden;
}
body.Search main header h1 {
	float:left;
	border-bottom:0;	margin:0 30px 0 0;

}
body.Search main header form {
	float:right;
	width:40%;
	margin:0.5em 0 0;
}
body.Search main header .result {
	float:left;
	margin:1em 5px 0;
	vertical-align:bottom;
}

/* search_condition */
form.search_condition table th .wrapper,
form.search_condition table td .wrapper {
	padding:0 10px 10px 0;
}
form.search_condition table td.button {
	white-space:nowrap;
}
form.search_condition legend {
	display:none;
}
form.search_condition fieldset {
	margin-bottom:15px;
	border-bottom:1px solid #e5e5e5;
}
form.search_condition #data_type_group label {
	display:none;
}

/* search_condition in Home */
body.Home form.search_condition .form-group {
	clear:both;
	float:none;
	width:auto;
}
body.Home form.search_condition table {
	margin-left:15px;
}
body.Home form.search_condition .submit .form-group {
	display:inline;
}
body.Home form.search_condition #data_type {
	display:inline-block;
	width:auto;
}
body.Home form.search_condition #data_type_group label {
	display:inline-block;
	margin-right:0.5em;
}

/* nav form */
#form_download,
#config_data_filter {
	position:absolute;
	top:20px;
	right:40px;
	margin:0.5em 0;
}

/* download form in sidebar */
#sidebar_download {
	display:none;
	padding:0 5px;
	color:#3c763d;
}
#sidebar_download legend {
	margin:0 -5px;
	font-size:100%;
	white-space:nowrap;
}
#sidebar_download ul {
	overflow:auto;
	max-height:6.5em;
	margin:0.5em -15px 0.7em 0;
	padding:0 0.33em 0 0.67em;
	border-left:4px solid #3c763d;
}
#sidebar_download ul li {
	list-style:none;
	white-space:nowrap;
}
#sidebar_download ul li .fa {
	margin-right:0.33em;
}
#sidebar_download ul li .cancel {
	margin-right:0;
	padding:0 0.33em;
	cursor:pointer;
}
#sidebar_download ul li .cancel:hover {
	color:#ff5b57;
}
#sidebar_download div.submit {
	margin:0.7em 0;
}

label.download {
	display:block;
	font-weight:normal;
	white-space:nowrap;
}

/* Config */
form.filter-setting colgroup.order {
	width:2em;
}
form.filter-setting colgroup.check {
	width:4em;
}
form.filter-setting table td.check {
	padding:5px 1em;
}
form.filter-setting table input.checkbox {
	display:inline-block;
    padding:2px 8px;
    width:1.4em;
	height:1.4em;
	vertical-align:middle;
}

/* message */
.message.note {
	margin:5px 5px 15px;
}
.message dl {
	margin:0;
	padding-left:2em;
}
.message dt {
	display:list-item;
	list-style-type:square;
}
.message dl dd {
}
.message dl dd + dt {
	margin-top:0.4em;
}

/* note-style .. copy by color-admin */
.note{
	margin-bottom:20px;
	padding:15px;
	border-left:3px solid}
.note.note-success{
	border-color:#4a8564;
	background:#b0ebca;
	color:#3c763d}
.note.note-success h1,.note.note-success h2,.note.note-success h3,.note.note-success h4,.note.note-success h5,.note.note-success h6{
	color:#3c763d}
.note.note-danger{
	border-color:#986e6e;
	background:#fbd1d1;
	color:#a94442}
.note.note-danger h1,.note.note-danger h2,.note.note-danger h3,.note.note-danger h4,.note.note-danger h5,.note.note-danger h6{
	color:#a94442}
.note.note-info{
	border-color:#587c89;
	background:#bee2ef;
	color:#31708f}
.note.note-info h1,.note.note-info h2,.note.note-info h3,.note.note-info h4,.note.note-info h5,.note.note-info h6{
	color:#31708f}
.note.note-warning{
	border-color:#9d9080;
	background:#fff2e3;
	color:#8a6d3b}
.note.note-warning h1,.note.note-warning h2,.note.note-warning h3,.note.note-warning h4,.note.note-warning h5,.note.note-warning h6{
	color:#8a6d3b}

/* DataTable の "Search", "Pager" をスクロールさせない
   .. <table.dataTable> を囲む要素を作る */
.dataTables_box {
	width:100%;
	overflow-x:auto;
}

/* データのロック中 (共有申請取り下げ時など) */
.locked.fa-lock {
	position:relative;
	color:#ea0;
	background:#f00;
	vertical-align:top;
}
.locked.fa-lock:before {
	position:absolute;
	left:0.8em;
	top:3px;
	font-size:120%;
}
