<h1 class="page-header">研究プラットフォームユーザガイド</h1>
  <ol>
    <li><a href="docs/ja/bminds_db_overview.pdf" target="_blank">革新脳データベース概要</a></li>
    <li>研究ポータル利用ガイド
      <ol>
        <li>事前準備(HCP/SCPご利用の方向け)
          <ol>
            <li>公開鍵の作成(pdf)</li>
            <li>ファイル転送ツールの設定(pdf)</li>
          </ol>
        </li>
        <li>画面説明
          <ol>
            <li>トップ(pdf)</li>
            <li>Myアイテム(pdf)</li>
            <li>申請/承認一覧(pdf)</li>
            <li>メッセージ(pdf)</li>
            <li>ユーザ一覧(pdf)</li>
            <li>利用ガイド(pdf)</li>
            <li>ユーザガイド(pdf)</li>
          </ol>
        </li>
        <li>利用の流れ
          <ol>
            <li>アイテム（メタデータとデータセット）の登録と共有
              <ol>
                <li>データセットのアップロード(pdf)</li>
                <li>メタデータ編集・登録とデータセットとの関連付け(pdf)</li>
              </ol>
            </li>
            <li>データ（メタデータとデータセット）のキュレーションと共有
              <ol>
                <li>グループ内キュレーション、共有(pdf)</li>
                <li>グループ間共有の申請、承認(pdf)</li>
              </ol>
            </li>
            <li>(掲載について検討要)データの公開準備と公開用ポータルへの送信</li>
          </ol>
        </li>
        <li>登録アイテムについて
          <ol>
            <li>はじめに
              <ol>
                <li>各種データタイプについて
                  <ol>
                    <li>Spare
                      <ol>
                        <li>(目的)</li>
                        <li>メタデータ定義書(xlsx)</li>
                        <li>ディレクトリ構造定義書(xlsx)</li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li><a href="docs/ja/bminds_HPC_userguide.pdf" target="_blank">HPC利用ガイド(pdf)</a></li>
    <li>SPyKGD(Pipeline処理フレームワーク)利用ガイド(pdf)</li>
    <li>BiCC利用ガイド(link)</li>
  </ol>
