<h1 class="page-header">革新脳データベース利用に関する規定</h1>
<div align="right">データベース協議会発行</div>
<ol>
  <li>利用にあたって
    <ol>
      <li><a href="docs/ja/bminds_db_app_proc.pdf" target="_blank">革新脳データベース利用における手続き</a></li>
      <li><a href="docs/ja/bminds_db_app_form.xlsx" target="_blank">革新脳データベース利用申請フォーム</a></li>
    </ol>
  </li>
  <li>利用ガイドライン
    <ol>
      <li>革新脳データベース利用ガイドライン(pdf)</li>
    </ol>
  </li>
  <li>セキュリティガイドライン
    <ol>
      <li>革新脳データベースデータ取り扱いセキュリティガイドライン(利用者向け)(pdf)</li>
    </ol>
  </li>
</ol>
